<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CHETO LO NENE</h1>
    <% include partials/jajant.ejs %> 
    <busca-dor></busca-dor>

    <div id="saludador">hola</div>
    <script>
        const saludador=document.getElementById("saludador")
        saludador.addEventListener("message", (event) => {
            const name = event.detail.name;
            console.log(`Message received from ${name}`);
  },true);
    </script>
    <script src="bundle.min.js"></script>
</body>
</html>