<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="saludador">

        <h1>CHETO LO NENE</h1>
        <% include partials/jajant.ejs %> 
        <busca-dor></busca-dor>
        
    </div>
    <script>
        const saludador=document.getElementById("saludador")
        saludador.addEventListener("message",e => console.log("hola",e))
    </script>
    <script src="bundle.min.js"></script>
</body>
</html>