<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="saludador">
    <h1 id="titulo">CHETO LO NENE</h1>
    <% include partials/jajant.ejs %> 
    <app-buscador></app-buscador>
    <app-tester></app-tester>
    </div>
    <script>
        const h1 = document.getElementById("titulo")
        const saludador=document.getElementById("saludador")
        saludador.addEventListener("message", (event) => {
            h1.innerText = (event.detail.title+"");
            console.log(`Event received`);
  });
    </script>
    <script src="bundle.min.js"></script>
</body>
</html>